body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.EmployeeAttr {
  background-color: aquamarine;
  width: 500px;
  }
  
  .order{
    background-color: rgb(26, 208, 93);
    width: 500px;
  }
  .headi{
    background-color: chocolate;
    font-family: cursive;
    width: 500px;
  }